:root {
  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
  --salmao: #ff4e62;
  --preto: #000;
  --cinza-claro: #b8b0b8;
  --vermelho-escuro: #1e070a;
  --verde-claro: #93d492;
  --lilas: #cc8fac;
  --azul-ciano: #55c5cf;
  --amarelo: #f9a848;
  --vinho: #6d262e;
}

html,
body {
  background-color: var(--preto);
  font-size: 1.6rem;
  color: var(--cinza-claro);
  text-align: center;
  overflow: overlay;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  position: relative; /*faz a mágina :)*/
  min-height: 100%;
}

body h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/*==========HEADER=============*/

#navigation-menu {
  background-color: var(--salmao);
  height: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-vies-header {
  margin-left: 1.5rem;
}

button.menu-button-inactive {
  border: none;
  background: none;
  margin-right: 1.5rem;
}

/* ==============MAIN=============*/

.home {
  display: flex;
  flex-direction: column;
}

img.main-logo {
  width: 100vw;
  margin-top: 2rem;
  text-align: center;
}

main section.home {
  text-align: center;
  align-items: center;
  justify-content: center;
}

main section.home h2 {
  font-weight: 700;
  font-size: 6vw;
  padding-top: 6.4rem;
  margin-bottom: 6rem;
}

button.whatsapp-button {
  background-color: var(--salmao);
  border: none;
  border-radius: 5px;
  width: fit-content;
  height: 5.1rem;

  padding: 2.6rem 3.9rem;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  justify-content: center;
}

/*===========benefits=============*/

.benefits-list {
  color: var(--salmao);

  font-size: 1.4rem;
  margin-top: 6rem;
  box-sizing: content-box;
}

ul.benefits-list li p {
  padding: 0.5rem 2rem;
  font-size: 3vw;
  justify-content: space-between;
}

ul.benefits-list li img {
  justify-content: space-between;
  width: 19vw;
  max-width: 130px;
  min-width: 60px;
  padding: 1.5rem;
}

/*============PRODUCTS==============*/

.our-products {
  padding: 6rem 4rem;
}

.products-list-item {
  border: 2px solid var(--salmao);
  border-radius: 5px;
  margin-bottom: 2.5rem;
  padding: 2rem 2rem;
  height: fit-content;
}

.products-item {
  display: inline-block;
  width: fit-content;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}

.fluxo {
  background-color: var(--salmao);
}

.soul {
  background-color: var(--verde-claro);
}

.pele {
  background-color: var(--lilas);
}

.xixi {
  background-color: var(--azul-ciano);
}

.minim {
  background-color: var(--amarelo);
}

/*==============FLUXOS===============*/

.flows-list {
  display: flex;
  flex-wrap: wrap;
  color: var(--cinza-claro);
  justify-content: space-between;
  font-size: 1.4rem;
  justify-content: center;
  margin-top: 6rem;
  box-sizing: content-box;
  padding-bottom: 6rem;
}

ul.flows li p {
  padding: 0.5rem 2rem;
  font-size: 3vw;
  justify-content: space-between;
}

ul.flows-list li img {
  justify-content: space-between;
  width: 19vw;
  max-width: 130px;
  min-width: 60px;
  padding: 1.5rem;
}

/* =================about=================*/
.about {
  background-color: var(--vinho);
  opacity: 54%;
  padding: 2rem;
  margin-bottom: 6rem;
}

/*======================CONTACT===================*/
.contact {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: left;
  align-items: center;
}

.contact h2 {
  text-align: center;
}

.contact ul li {
  display: flex;
  padding: 1rem 2rem;
  line-height: 3rem;
}

.contact ul li svg {
  min-width: 24;
}

.contact ul li p {
  padding-left: 1.7rem;
}

/*==============footer=============*/

footer.container {
  display: flex;
  flex-direction: column;
  background-color: var(--salmao);
  flex-wrap: wrap;
  color: var(--preto);
  position: absolute;
  margin-top: 6rem;
}
.img-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
}

div.img-footer img:nth-child(1) {
  width: 50%;
  max-width: 60%;
}

div.img-footer img:nth-child(2) {
  width: 35%;
  max-width: 40%;
}

.svg-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 4rem;
}
