:root {
  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
  --salmao: #ff4e62;
  --preto: #000;
  --cinza-claro: #b8b0b8;
  --vermelho-escuro: #1e070a;
}

html,
body {
  background-color: var(--preto);
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/*==========HEADER=============*/

#navigation-menu {
  background-color: var(--salmao);
  height: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-vies-header {
  margin-left: 1.5rem;
}

button.menu-button-inactive {
  border: none;
  background: none;
  margin-right: 1.5rem;
}

/* ==============MAIN=============*/

.home {
  display: flex;
  flex-direction: column;
}

img.main-logo {
  width: 100vw;
  height: 17.4rem;
  margin-top: 2rem;
  text-align: center;
}

main section.home {
  text-align: center;
  align-items: center;
  justify-content: center;
}

main section.home h2 {
  color: var(--cinza-claro);
  font-weight: 700;
  font-size: 2rem;
  padding-top: 2.4rem;
  margin-bottom: 6rem;
}

button.whatsapp-button {
  background-color: var(--salmao);
  border: none;
  border-radius: 5px;
  width: fit-content;
  height: 5.1rem;

  padding: 2.6rem 3.9rem;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.benefits-list {
  color: var(--salmao);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.4rem;
  margin-top: 6rem;
}

ul.benefits-list li p {
  padding: 2rem 2rem;
  font-size: 1.4rem;
  align-items: center;
}

ul.benefits-list li img {
  justify-content: space-between;
  width: 50%;
  max-width: 93px;
}
